:root {
  --color-text: #fff;
  --color-text-dimmed: #999;
  --color-text-bright: #fff;
  --color-background: #000;
  --font-primary: "Arial";
  --font-secondary: "Arial";
  --font-size-small: 1.25rem;
  --font-size-medium: 2.25rem;
  --font-size-large: 3.25rem;
  --font-size-xlarge: 3.75rem;
}
/* Fullscreen Background */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url('MK2.png') no-repeat center center;
  background-size: cover;
  color: var(--color-text);
  font-family: var(--font-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Main Container */
#app-container {
  width: 100%;
  height: 100%;
  position: relative;
}
/* Desk Number (Top Left) */
#desk-number {
  position: absolute;
  top: 80px;
  right: 60px;
  font-size: var(--font-size-medium);
  font-weight: bold;
}
/* Clock (Top Right) */
#clock-widget {
  position: absolute;
  top: 20px;
  right: 60px;
  font-size: var(--font-size-xlarge);
  font-weight: bold;
}
/* Upcoming Events (Left Side) */
#calendar-widget {
  position: absolute;
  top: -7px;
  left: 23px;
  max-width: 400px;
}
#calendar-widget h2 {
  font-size: var(--font-size-large);
  text-transform: uppercase;
  
  padding-bottom: 0px;
}
#events {
  list-style-type: none;
  padding: 0;
  margin-top: -20px;
  font-size: var(--font-size-small);
}
#events li {
  margin-bottom: 5px;
}
/* QR Code (Right Side) */
#qr-container {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
}
#qr-container img {
  width: 200px;
  height: 200px;
}